.Game {
  width: 545px;
  margin: auto;
  color: darkblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

hr.solid {
  border-top: 3px solid #bbb;
}

h1 {
  font-size: 40px;
  margin-block-end: 0;
}
